


<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Study Chat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatApplication4.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title text-info">Learning Application</h4>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @if (ViewBag.NotificationMessage == null)
                            {

                                @*<a class="text-white btn-warning btn btn-danger  shadow shadow-lg  align-content-end" asp-area="" asp-controller="Account" asp-action="Register">User Registration</a>
*@
                            }
                            else
                            {

                            }
                        </li>
                    </ul>

                    <div class="toast-container align-content-md-end">
                        @if (ViewBag.NotificationMessage == null)
                        {

                        }
                        else
                        {
                            <div>
                                <span class="welcome-text">Welcome, @ViewBag.NotificationMessage !!</span>
                                <div class="btn btn-info ">Country :@ViewBag.Country</div>
                                <div class="btn btn-success ">Region :@ViewBag.Region</div>
                                <div class="btn btn-warning ">City :@ViewBag.City</div>
                               

                                @if (!string.IsNullOrEmpty(ViewBag.PicPath))

                                {

                                    <img src="@Url.Content(@ViewBag.PicPath)" alt="Profile Picture" width="800" height="500" />

                                }

                                <!-- Add your Sign Out button here with custom styling -->
                                <a class="btn btn-danger ml-3" href="signout-url" style="color: #fff; background-color: #dc3545;">Sign Out</a>

                            </div>
                        }
                    </div>


                </div>
            </div>
        </nav>
    </header>

    <style>
        .welcome-text {
            font-size: 20px;
            font-weight: bold;
            color: #007bff; /* Blue color */
        }
    </style>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ChatApplication4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
